@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './base.css';

/* Images & icons */
.inline-icon {
  display: inline-block;
  width: 1rem;
  height: auto;
}
.inline-icon-lg {
  width: 1.5rem !important;
}

/* Borders */
.border-double {
  border: 5px double;
}

/* Tables */
.table-bordered > :not(caption) > * > * {
  border-width: 3px;
  border-color: #212529;
}
.table-bordered > tbody > * > * {
  background-color: transparent;
}

/* Transitions */
.slide-fade-enter-active,
.slide-fade-reverse-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active,
.slide-fade-reverse-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter-from,
.slide-fade-reverse-enter-from {
  transform: translateX(200px);
  opacity: 0;
}
.slide-fade-reverse-enter-from {
  transform: translateX(-200px);
}
.slide-fade-leave-to,
.slide-fade-reverse-leave-to {
  transform: translateX(-200px);
  opacity: 0;
}
.slide-fade-reverse-leave-to {
  transform: translateX(200px);
}

/* Typography */
i.icon-faction,
i.icon-shield,
i.icon-symbol,
i.icon-item {
  font-style: normal;
}
.text-marquise,
.text-M {
  color: #e16a2b;
}
.text-eyrie,
.text-E {
  color: #4668b7;
}
.text-woodland,
.text-A {
  color: #5ebd44;
}
.text-vagabond,
.text-V {
  color: #656263;
}
.text-cult,
.text-L {
  color: #f7f345;
}
.text-riverfolk,
.text-O {
  color: #66cbba;
}
.text-duchy,
.text-D {
  color: #ecc0a3;
}
.text-corvid,
.text-C {
  color: #8e49aa;
}
.text-warlord,
.text-H {
  color: #e2173d;
}
.text-keepers,
.text-K {
  color: #888687;
}
