@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './base.css';

/* Images & icons */
.inline-icon {
  width: 1rem;
  height: auto;
}
.inline-icon-lg {
  width: 1.5rem !important;
}

/* Borders */
.border-double {
  border: 5px double;
}

/* Tables */
.table-bordered > :not(caption) > * > * {
  border-width: 3px;
  border-color: #212529;
}
.table-bordered > tbody > * > * {
  background-color: transparent;
}

/* Transitions */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter-from {
  transform: translateX(200px);
  opacity: 0;
}
.slide-fade-leave-to {
  transform: translateX(-200px);
  opacity: 0;
}

/* Typography */
i[class^='icon-'] {
  font-style: normal;
}
.text-corvid {
  color: #8e49aa;
}
.text-cult {
  color: #f7f345;
}
.text-duchy {
  color: #ecc0a3;
}
.text-eyrie {
  color: #4668b7;
}
.text-keepers {
  color: #888687;
}
.text-marquise {
  color: #e16a2b;
}
.text-riverfolk {
  color: #66cbba;
}
.text-vagabond {
  color: #656263;
}
.text-warlord {
  color: #e2173d;
}
.text-woodland {
  color: #5ebd44;
}
